<a href="https://colab.research.google.com/github/hemalathachereddy6-prog/Feb-2026-Internship/blob/main/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1)Unique Words in a Sentence

A="python is easy and python is powerful"
# sent=input('Enter sentence')
b=set(A.split())
print('unique counts: ',len(b))
print('unique words: ',(b))

unique counts:  5
unique words:  {'powerful', 'easy', 'python', 'and', 'is'}

In [2]:
#2)Highest Salary from Employee Data

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest = max(employees, key=employees.get)
print("Highest Salary:", highest, "-", employees[highest])

Highest Salary: Ravi - 75000

In [3]:
#3)Find Maximum and Minimum Values

numbers = [45, 22, 89, 10, 66]
print('Max:',max(numbers))
print('Min:',min(numbers))

Max: 89
Min: 10

In [4]:
# 4) Count Products Above a Price Threshold

prices = [450, 1200, 899, 1500, 300]
count=0

for price in prices:
    if price > 1000:
        count += 1
print("Products above 1000:", count)

Products above 1000: 2

In [5]:
#5)Calculate Attendance Percentage


attendance = ["P", "P", "A", "P", "P"]
count=0
for ch in attendance:
  if ch == 'P':
    count +=1
print((count/5)*100)

80.0

In [6]:
#6)Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 1234567890, 9876543210]
print(set(phone_numbers))

{1234567890, 9876543210}

In [7]:
#7)Count Character Frequency

text = "python"
freq = {}

for ch in text:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

print(freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
#8)Convert List to Tuple


a=[10,20,30]
print('Tuple:',tuple(a))

Tuple: (10, 20, 30)

In [9]:
#9)Check if a Key Exists in a Dictionary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:
#10)Calculate Average Marks

marks = [70, 75]   # (70 + 75) / 2 = 72.5
average = sum(marks) / len(marks)
print("Average Marks:", average)

Average Marks: 72.5